{% extends "base.html" %}

{% block content %}
    <img src="https://preview.redd.it/99nxlz8pte031.png?width=1920&format=png&auto=webp&s=7e0158219d0c96ccec30b35d9e58c346c45e7f88"/>
    <h1>MANGA DB</h1>
    <!--fonction affichage-->
    <form name="search" action="/test/" method="post">
        Type: <SELECT name="type" size="1">
            <OPTION>Tout<OPTION>TV<OPTION>Anime<OPTION>OVA<OPTION>Movie<OPTION>Special<OPTION>ONA</SELECT>
        Nombre d'episodes : <SELECT name="nbEpisode" size="1">
            <OPTION>1-15<OPTION>15-50<OPTION>50-100<OPTION>+100</SELECT>
        Affichage : <SELECT name="affichage" size="1">
            <OPTION>Croissant<OPTION>Décroissant</SELECT>
    <input type="submit" value="Valider">
    </form>

{% endblock %}